// Change variables here
@import "scss/variables";

// Global
body {
    background-color: $body-bg;
    margin: 0 0;
    font-family: 'DM Sans', sans-serif;
}

:root{
    color: $black;
}

// Layout
@import "scss/layout";
@import "scss/text";
@import "scss/component";
@import "scss/util";
@import "scss/page";