.layout-sidebar {
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: $padding-s;
    // padding-right: $padding-l;
}

.layout-right-sidebar {
    display: grid;
    grid-template-columns: 4fr 1.8fr;
    column-gap: $padding-s;
    padding-right: $padding-xl;
}