.text-center {
    text-align: center;
}

@each $size in $font-weight-size {
    .fw-#{$size} {
        font-weight: $size;
    }
}

.fs-xs {
    font-size: ($font-size-base * .75);
}
.fs-sm {
    font-size: ($font-size-base * .875);
}
.fs-md {
    font-size: ($font-size-base * 1);
}
.fs-lg {
    font-size: ($font-size-base * 1.25);
}
.fs-xl {
    font-size: ($font-size-base * 1.5);
}
.fs-xxl {
    font-size: ($font-size-base * 2);
}

.color-grey {
    color: #ABB5D4;
}

.color-green {
    color: #00B574;
}