
// Color system

// Shades of grey
$white: #ffffff;
$gray-100: #f3f7fa;
$gray-200: #f5f8fb;
$gray-300: #F0F3F6;
$gray-400: #eaedf2;
$gray-500: #d1d7e0;
$gray-600: #93a5be;
$gray-700: #66799e;
$gray-800: #506690;
$gray-900: #4A5073;
$dark : #262B40;
$black : #1C254B;


// body
$body-bg: #F4F7FE;
$body-color: $gray-900;

// property
$padding-xxl : 32px;
$padding-xl : 24px;
$padding-l : 16px;
$padding-m : 8px;
$padding-s : 4px;
$padding-xs : 2px;

$box-shadow: 14px 17px 40px 4px rgba(112, 144, 176, 0.06);
$box-shadow-lg: 14px 17px 40px 4px rgba(112, 144, 176, 0.18);

$border-radius-xl: 40px;
$border-radius-l: 30px;
$border-radius-m: 20px;
$border-radius-s: 10px;
$border-radius-xs: 5px;

$space-size: 100,90,80,70,60,50,40,32,24,16,8,4,2,0;
$font-weight-size: 100,200,300,400,500,600,700,800,900;



$font-size-base:              1rem; // Assumes the browser default, typically `16px`
$font-size-xs:                ($font-size-base * .75);
$font-size-sm:                ($font-size-base * .875);
$font-size-md:                ($font-size-base * 1);
$font-size-lg:                ($font-size-base * 1.25);
$font-size-xl:                ($font-size-base * 1.5);
$font-size-xxl:               ($font-size-base * 2);
